h1 {
    font-family: "Old English Text MT", sans-serif;
    font-size: 190%;
}
html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header, footer {

    flex: 10%;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

header {
    flex-grow: 2;
}

footer {
    flex-grow: 1;
}

#description {
    margin: 20px; 
}

#content {
    flex-grow: 30;
}

#overview {
    display: flex;
    flex-direction: row;

}

#tutorials {
    flex-grow: 61.8;
    margin: 20px;
}

#history {
    flex-grow: 38.2;
    margin: 20px;
}

#header-links, #footer-links {
    background-color: pink;
    flex-grow: 1;
}

#header-mitte, #footer-mitte {
    text-align: center;
    background-color: rosybrown;
    flex-grow: 2;

}

#header-rechts, #footer-rechts {

    background-color: pink;
    flex-grow: 1;
}

